body{
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: hidden;
}
input{
    width: 95%;
}

.entradas{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
}

#modelos{
    position: absolute;
    height: calc(100vh - 100px);
    top: 0vh;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
    z-index: 5;
}
#criar{
    position: absolute;
    height: calc(100vh - 100px);
    top: 0vh;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
    display: none;
    z-index: 1;
}
#criar:target{
    z-index: 10;
    display: block;
}
#estilo{
    position: absolute;
    height: calc(100vh - 100px);
    top: 0vh;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
    display: none;
    z-index: 1;
}
#estilo:target{
    z-index: 10;
    display: block;
}
#elemento{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#codigo{
    position: absolute;
    height: calc(100vh - 100px);
    top: 0vh;
    margin: 20px 20px 20px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    background-color: white;
    display: none;
    z-index: 1;
}
#codigo:target{
    z-index: 10;
    display: block;
}

.conteudo{
    position: absolute;
    left: 25%;
    top: 0px;
    width: calc(75% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
}

#selecao{
    position: absolute;
    border: solid 1px blue;
}
#selecao-mouse{
    position: absolute;
    border: dashed 1px black;
}
#filtro-codigo{
    opacity: 0;
}

#arquivo {
    display: none;
}