body{
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: auto;
}
input{
    width: 95%;
    margin-bottom: 10px;
}

.entradas{
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(25vw - 40px);
    height: calc(100vh - 40px);
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    margin: 20px 20px 20px 20px;
}

.form{
    position: absolute;
    height: calc(100% - 60px);
    width: calc(100% - 60px);
    top: 0vh;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

#modelos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#criar, #estilo, #codigo{
    display: none;
}

.conteudo{
    position: absolute;
    left: 25vw;
    top: 0px;
    width: calc(75vw - 80px);
    height: calc(100vh - 80px);
    padding: 40px;
}

#selecao{
    position: absolute;
    border: solid 1px blue;
}
#selecao-mouse{
    position: absolute;
    border: dashed 1px black;
}

#arquivo {
    display: none;
}

@media (max-width: 768px) {
    .entradas{
        position: absolute;
        left: 0px;
        top: 65vh;
        width: calc(100vw - 40px);
        height: calc(35vh - 40px);
    }
    .conteudo{
        position: absolute;
        left: 0px;
        top: 0px;
        width: calc(100vw - 40px);
        height: calc(65vh - 40px);
        padding: 20px;
    }
}