body{
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: hidden;
}
input{
    width: 95%;
}

.entradas{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 25%;
    height: 100%;
}

#criar{
    position: absolute;
    height: calc(27.5vh - 90px);
    top: 0vh;
    margin: 20px 20px 10px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
#estilo{
    position: absolute;
    height: calc(45vh - 80px);
    top: 27.5vh;
    margin: 10px 20px 10px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
#elemento{
    margin: 0px;
    padding: 0px;
}
#codigo{
    position: absolute;
    height: calc(27.5vh - 90px);
    top: 72.5vh;
    margin: 10px 20px 20px 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.conteudo{
    position: absolute;
    left: 25%;
    top: 0px;
    width: calc(75% - 80px);
    height: calc(100% - 80px);
    padding: 40px;
}

#selecao{
    position: absolute;
    border: solid 1px blue;
}
#selecao-mouse{
    position: absolute;
    border: dashed 1px black;
}
#filtro-codigo{
    opacity: 0;
}

#arquivo {
    display: none;
}